@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500&display=swap');

body{
    background-color: antiquewhite;
    font-family: "inter";
}

main{
    display: grid;
    grid-template-columns: 5% 95%;
}

.left-nav{
    margin: 0 auto 0 1rem;
    padding: 1rem;
    background-color: beige;
    width: 65px;


    .dashboard-btn{
        border: 0;
        background-color: beige;
        border-radius: 8px;
        color: gray;
        width: 100%;
        height: 3rem;
    
           
    }

    p{
        color: gray;
        font-size: 18px;

        span{
            padding-right: 1rem; 

        #p-span{
            border: 1px solid black;
            color: #fff;
            background-color: orange;
            border-radius: 50%;

        }
        }
    }

    #p{
        border: 0;
        background-color: beige;
        border-radius: 8px;
        color: gray;
        width: 100%;
        height: 3rem;
    
        
    }

    p:nth-child(2){
        background-color: blue;
    }
    
}

.left-nav:hover{
    width: 65px;
    
    #text-nav{
        opacity: 1;
    }
}


.right-side{

    background-color: rgb(167, 174, 174);

    .header{
        background-color: rgb(255, 255, 255);

        div{
            h1{
                color:black;
            }

            div{
                span:first:child{
                    color:blue;
                }
            }
        }
    }

    .right-head{
        display: flex;
        justify-content: space-between;
        // background-color: rgb(169, 169, 106);    
        height: 80px;


        &-order{
            margin-left: 1rem;
            
        }

        &-new{
            margin-right: 2rem;
            
            
            p{
                background-color: rgb(55, 55, 189);
                color: #fff;
                border-radius: 15px;
                padding: 1em;
            }
        }
    }

    .right-top{
        display: grid;
        grid-template-columns: 40% 40% 20%;
        // gap: 1rem;
        margin-top: -68rem;
        



        &-orders{
            margin: 0 1rem 0 1rem;
            background-color: #fff;
            height: 150px;
            padding: 1rem;
            border-radius: 10px;

            .sale-summary-holder{
                .orders{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;


                    button{
                        margin-top: -1rem;
                    }
                }

                .title{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: gray;
                }

                .price{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;


                    p:last-child{
                        margin-right: 4rem;
                    }
                }

            }
        }


        &-canceled{
            margin: 0 1rem 0 1rem;
            background-color: #fff;
            height: 150px;
            padding: 1rem;
            border-radius: 10px;


            .sale-summary-holder{
                .orders{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;


                    button{
                        margin-top: -1rem;
                    }
                }

                .title{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: gray;
                }

                .price{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    p:first-child{
                        span{
                            color: red;
                            font-size: 11px;
                        }
                    }

                    p:last-child{
                        margin-right: 4rem;
                    }
                }

            }
        }


        &-abamdoned{
            margin: 0 1rem 0 1rem;
            background-color: #fff;
            height: 150px;
            padding: 1rem;
            border-radius: 10px;



            .sale-summary-holder{
                .orders{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;


                    button{
                        margin-top: -1rem;
                    }
                }

                .title{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: gray;


                    p{
                        font-size: 12px;
                    }
                    p:first-child{
                        color: red;
                    }
                }

                .price{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;


                    p:first-child{
                        span{
                            color: green;
                            font-size: 11px;
                        }
                    }

                    p:last-child{
                        margin-right: 4rem;
                    }

                }

            }
           
        }
    }

    .customer-orders{
        margin: 0 1rem 0 1rem;
        margin-top: -56rem;
        border-radius: 10px;
        background-color: #fff;
        height: 700px;
        overflow: scroll;

        &-title{
            display: flex;
            justify-content: space-between;

            &-head{
                padding: 1rem;
            }

            &-search{
                display: flex;
                justify-content: space-between;

                p{
                    padding: 1rem;
                    border: 1px solid gray;
                    border-radius: 8px;
                    margin-right: 1rem;
                    color: gray;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: .5rem;


                    span{
                        margin-right: 1rem;
                    }

                    span:last-child{
                        // margin-right: 0;
                        margin-left: 1rem;
                    }
                }

                p:first-child{
                    width: 180px;
                    span{
                        // margin-right: -8rem;
                    }
                }
            }
        }

        &-body{
            table{
                border-collapse: collapse;
                width: 100%;


               #line-break{
                width: 90%;
               }

                td{
                    padding: 1rem;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: rgb(78, 70, 70);


                    span{
                        margin-top: 1rem;
                    }


                    
                }

                #action{
                    p{
                        background-color:  rgba(94, 99, 102, 0.08);
                        border:  gray;
                        border-radius: 20px;
                        padding: 1rem;

                        span{
                            margin-left: 1rem;
                        }
                    }
                }

                #complete{
                    P{
                        background-color:  rgba(85, 112, 241, 0.16);;
                        color: green;
                        border:  rgba(50, 147, 111, 0.16);
                        border-radius: 20px;
                        padding: 1rem;
                    }
                }

                #progress{
                    p{
                        background-color:  rgba(85, 112, 241, 0.16);;
                        color: #5570F1;
                        border:   rgba(85, 112, 241, 0.16);;
                        border-radius: 20px;
                        padding: 1rem;
                    }
                }

                #pending{
                    p{
                        background-color:  #FFF2E2;
                        color: #1C1D22;
                        border:   #FFF2E2;
                        border-radius: 20px;
                        padding: 1rem;
                    }
                }
            }
        }
    }
    
}

hr{
    width: 95%;
}