body {
  margin: 0;
  padding: 0;
}
body * {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.left-nav {
  width: 100%;
  height: 100vh;
  margin: 0 auto 0 1rem;
  padding: 1rem;
  background-color: beige;
}
.left-nav svg {
  margin-bottom: 3rem;
}
.left-nav p {
  color: gray;
  font-size: 18px;
}
.left-nav p span {
  padding-right: 1rem;
}
.left-nav p span #p-span {
  border: 1px solid black;
  color: #fff;
  background-color: orange;
  border-radius: 50%;
}
.left-nav div {
  border: 1px solid blue;
  background-color: blue;
  border-radius: 8px;
  width: 10rem;
  height: 3rem;
}
.left-nav div p {
  color: #fff;
}
.left-nav div p span {
  padding-left: 1rem;
}

.right-side {
  display: grid;
  grid-template-rows: 10% 90%;
  width: 100%;
}
.right-side .header {
  background-color: rgb(156, 156, 170);
  display: flex;
  flex-direction: row;
}
.right-side .header header {
  display: inline-flex;
  justify-content: space-between;
}
.right-side .header header h1 {
  margin-left: 1rem;
  color: gray;
}
.right-side .header .header-content {
  display: flex;
  flex-direction: row;
  margin-left: 50rem;
  justify-content: center;
  align-items: center;
}
.right-side .header .header-content button {
  width: 120px;
  height: 40px;
  border: 1px solid rgb(170, 136, 90);
  border-radius: 5px;
  background-color: rgb(170, 136, 90);
}
.right-side .header .header-content p {
  margin-left: 1rem;
  color: aqua;
  margin-right: 1rem;
}
.right-side .main-body {
  background-color: bisque;
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 1rem 1rem 0 1rem;
}
.right-side .main-body .sale-summary {
  display: grid;
  grid-template-columns: 50% 50%;
}
.right-side .main-body .sale-summary-holder {
  background-color: aliceblue;
  height: fit-content;
  padding: 1rem;
  margin-right: 1rem;
}
.right-side .main-body .sale-summary-holder-item {
  display: flex;
  justify-content: space-between;
}
.right-side .main-body .sale-summary-holder-item button {
  color: gray;
  font-size: 14px;
  border: none;
  background-color: aliceblue;
}
.right-side .main-body .sale-summary-holder-item p {
  margin-top: 2rem;
  color: gray;
  font-size: 18px;
}
.right-side .main-body .sale-summary-holder .title {
  display: flex;
}
.right-side .main-body .sale-summary-holder .title span:last-of-type {
  margin-right: 5rem;
}
.right-side .main-body .sale-summary-holder .price {
  font-size: 24;
  margin-top: -1rem;
}
.right-side .main-body .sale-summary-holder .price p {
  color: #000;
}
.right-side .main-body .sale-summary-holder .price p span {
  color: green;
  font-size: 11px;
  margin-right: 4rem;
}
.right-side .main-body .sale-summary .marketing-holder {
  grid-row: 2/4;
  background-color: rgb(255, 255, 255);
  margin-right: 1rem;
  height: fit-content;
  padding: 1rem;
}
.right-side .main-body .sale-summary .marketing-holder-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-side .main-body .sale-summary .marketing-holder-title button {
  border: none;
  background-color: #fff;
  color: gray;
}
.right-side .main-body .sale-summary .marketing-holder-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
  color: gray;
}
.right-side .main-body .sale-summary .marketing-holder-top #span-1 {
  color: blue;
}
.right-side .main-body .sale-summary .marketing-holder-top #span-2 {
  color: aqua;
}
.right-side .main-body .sale-summary .marketing-holder-top #span-3 {
  color: orange;
}
.right-side .main-body .sale-summary .marketing-holder-chart {
  grid-row: 2/4;
}
.right-side .main-body .sale-summary .marketing-holder-chart .chart-out {
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-color: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.right-side .main-body .sale-summary .marketing-holder-chart .chart-out .chart-in {
  margin: auto;
  border: 1px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.right-side .main-body .sale-summary .blue {
  grid-column: 2;
  grid-row: 2;
  background-color: blue;
}
.right-side .main-body .sale-summary .blue p {
  color: #fff;
}
.right-side .main-body .sale-summary .blue p span {
  color: #fff;
}
.right-side .main-body .sale-summary .cart .red p {
  font-size: 12px;
}
.right-side .main-body .sale-summary .cart .red p:first-child {
  color: red;
}
.right-side .main-body .sale-summary .cart .large p:last-child {
  margin-right: 8rem;
}
.right-side .main-body .sale-summary .summary-holder-title {
  display: flex;
  flex-direction: row;
}
.right-side .main-body .sale-summary .summary-holder-title-1 {
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
