body {
  margin: 0;
  padding: 0;
}
body * {
  box-sizing: border-box;
}

button {
  color: gray;
  font-size: 14px;
  border: none;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.left-nav {
  margin: 0 auto 0 1rem;
  padding: 1rem;
  background-color: beige;
}
.left-nav #text-nav {
  opacity: 0.1;
}
.left-nav svg {
  margin-bottom: 3rem;
}
.left-nav p {
  color: gray;
  font-size: 18px;
}
.left-nav p span {
  padding-right: 1rem;
}
.left-nav p span #p-span {
  border: 1px solid black;
  color: #fff;
  background-color: orange;
  border-radius: 50%;
}
.left-nav .dashboard-btn {
  border: 1px solid blue;
  background-color: blue;
  border-radius: 8px;
  width: 10rem;
  height: 3rem;
}
.left-nav .dashboard-btn p {
  color: #fff;
}
.left-nav .dashboard-btn p span {
  padding-left: 1rem;
}
.left-nav .bottom {
  margin-top: 28rem;
}
.left-nav .bottom-contact {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(213, 204, 204);
  background-color: rgb(213, 204, 204);
  border-radius: 40px;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
.left-nav .bottom-contact .support {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 70px;
  padding-left: 1rem;
}
.left-nav .bottom-contact svg {
  margin-top: 3rem;
}
.left-nav .bottom-contact p {
  margin: 0;
  padding-left: 1rem;
  color: #000;
}
.left-nav .bottom .bottom-gift {
  background-color: antiquewhite;
  border: 1px solid antiquewhite;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
.left-nav .bottom .bottom-gift-top {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
}
.left-nav .bottom .bottom-gift-top svg {
  margin-top: 3rem;
}
.left-nav .bottom .bottom-gift-top p {
  margin: 0;
  margin-left: 1rem;
  color: #000;
  font-size: 18px;
}
.left-nav .bottom .bottom-gift-bottom {
  text-align: left;
  margin-top: -3rem;
}
.left-nav .bottom .bottom-gift-bottom p {
  padding-left: 1rem;
}
.left-nav .bottom .bottom-gift-bottom span {
  margin-left: 1rem;
}
.left-nav .bottom button {
  color: red;
  padding: 1rem;
}
.left-nav .bottom button span {
  padding-right: 1rem;
}

.left-nav:hover {
  width: 100%;
}
.left-nav:hover #text-nav {
  opacity: 1;
}

.right-side {
  display: grid;
  grid-template-rows: 10% 90%;
  width: 100%;
}
.right-side .header {
  background-color: rgb(156, 156, 170);
  display: flex;
  flex-direction: row;
}
.right-side .header header {
  display: inline-flex;
  justify-content: space-between;
}
.right-side .header header h1 {
  margin-left: 1rem;
  color: gray;
}
.right-side .header .header-content {
  display: flex;
  flex-direction: row;
  margin-left: 50rem;
  justify-content: center;
  align-items: center;
}
.right-side .header .header-content button {
  width: 120px;
  height: 40px;
  color: #000;
  border: 1px solid rgb(170, 136, 90);
  border-radius: 5px;
  background-color: rgb(170, 136, 90);
}
.right-side .header .header-content p {
  margin-left: 1rem;
  color: aqua;
  margin-right: 1rem;
}
.right-side .main-body {
  background-color: bisque;
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 1rem 1rem 0 1rem;
}
.right-side .main-body .sale-summary {
  display: grid;
  grid-template-columns: 50% 50%;
}
.right-side .main-body .sale-summary-holder {
  background-color: aliceblue;
  height: fit-content;
  padding: 1rem;
  margin-right: 1rem;
}
.right-side .main-body .sale-summary-holder-item {
  display: flex;
  justify-content: space-between;
}
.right-side .main-body .sale-summary-holder-item p {
  margin-top: 2rem;
  color: gray;
  font-size: 15px;
  margin-bottom: 0;
}
.right-side .main-body .sale-summary-holder .title {
  display: flex;
}
.right-side .main-body .sale-summary-holder .title span:last-of-type {
  margin-right: 5rem;
}
.right-side .main-body .sale-summary-holder .price {
  font-size: 24;
  margin-top: -1rem;
}
.right-side .main-body .sale-summary-holder .price p {
  color: #000;
}
.right-side .main-body .sale-summary-holder .price p span {
  color: green;
  font-size: 11px;
  margin-right: 4rem;
}
.right-side .main-body .sale-summary .marketing-holder {
  grid-row: 2/4;
  background-color: rgb(255, 255, 255);
  margin-right: 1rem;
  margin-top: -4rem;
  height: fit-content;
  padding: 1rem;
}
.right-side .main-body .sale-summary .marketing-holder-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-side .main-body .sale-summary .marketing-holder-title button {
  border: none;
  background-color: #fff;
  color: gray;
}
.right-side .main-body .sale-summary .marketing-holder-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
  color: gray;
}
.right-side .main-body .sale-summary .marketing-holder-top #span-1 {
  color: blue;
}
.right-side .main-body .sale-summary .marketing-holder-top #span-2 {
  color: aqua;
}
.right-side .main-body .sale-summary .marketing-holder-top #span-3 {
  color: orange;
}
.right-side .main-body .sale-summary .marketing-holder-chart {
  grid-row: 2/4;
  justify-content: center;
  align-items: center;
}
.right-side .main-body .sale-summary .marketing-holder-chart .chart-out-1 {
  width: 250px;
  height: 250px;
  border: 1px solid white;
  background-color: rgb(241, 232, 232);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-side .main-body .sale-summary .marketing-holder-chart .chart-out-1 .chart-out {
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-image: conic-gradient(blue 0deg, blue 190deg, orange 190deg, orange 300deg, aqua 300deg, aqua 360deg);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.right-side .main-body .sale-summary .marketing-holder-chart .chart-out-1 .chart-out .chart-in {
  margin: auto;
  border: 1px solid white;
  border-radius: 50%;
  background-color: rgb(241, 232, 232);
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-side .main-body .sale-summary .marketing-holder-chart .chart-out-1 .chart-out .chart-in .chart-in-1 {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid white;
  border-radius: 50%;
}
.right-side .main-body .sale-summary .blue {
  grid-column: 2;
  grid-row: 2;
  background-color: blue;
  margin-top: -4rem;
}
.right-side .main-body .sale-summary .blue p {
  color: #fff;
}
.right-side .main-body .sale-summary .blue p span {
  color: #fff;
}
.right-side .main-body .sale-summary .cart {
  margin-top: -10rem;
}
.right-side .main-body .sale-summary .cart .red p {
  font-size: 12px;
}
.right-side .main-body .sale-summary .cart .red p:first-child {
  color: red;
}
.right-side .main-body .sale-summary .cart .large p:last-child {
  margin-right: 8rem;
}
.right-side .main-body .sale-summary .summary-holder {
  grid-column: 1/3;
  margin-top: -7.5rem;
}
.right-side .main-body .sale-summary .summary-holder-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}
.right-side .main-body .sale-summary .summary-holder-title-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-side .main-body .sale-summary .summary-holder-title-1 button {
  color: blue;
  margin-left: 1rem;
}
.right-side .main-body .sale-summary .summary-holder-title-2 button {
  margin-top: 1rem;
  color: #000;
}
.right-side .main-body .sale-summary .summary-holder-chart-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #fff;
}
.right-side .main-body .sale-summary .summary-holder-chart-body-numbers {
  height: 350px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-side .main-body .sale-summary .summary-holder-chart-body-graph {
  background-color: rgb(197, 189, 189);
  height: 350px;
  width: 15px;
  margin-left: 0.5rem;
  border-radius: 100px;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .one {
  align-items: flex-end;
  display: flex;
  align-items: flex-end;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .one-in {
  height: 300px;
  width: 20px;
  background-color: blue;
  border-radius: 20px;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .two {
  display: flex;
  align-items: flex-end;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .two-in {
  height: 100px;
  width: 20px;
  background-color: blue;
  border-radius: 20px;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .three {
  display: flex;
  align-items: flex-end;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .three-in {
  height: 250px;
  width: 20px;
  background-color: blue;
  border-radius: 20px;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .four {
  display: flex;
  align-items: flex-end;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .four-in {
  height: 70px;
  width: 20px;
  background-color: blue;
  border-radius: 20px;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .five {
  display: flex;
  align-items: flex-end;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .five-in {
  height: 290px;
  width: 20px;
  background-color: blue;
  border-radius: 20px;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .six {
  display: flex;
  align-items: flex-end;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .six-in {
  height: 150px;
  width: 20px;
  background-color: blue;
  border-radius: 20px;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .seven {
  display: flex;
  align-items: flex-end;
}
.right-side .main-body .sale-summary .summary-holder-chart-body .seven-in {
  height: 300px;
  width: 20px;
  background-color: blue;
  border-radius: 20px;
}
.right-side .main-body .sale-summary .summary-holder-foot {
  background-color: #fff;
}
.right-side .main-body .sale-summary .summary-holder-foot-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-side .main-body .sale-summary .summary-holder-foot-content p {
  font-size: 10px;
}
.right-side .main-body .sale-summary .summary-holder-foot-content p:first-child {
  margin-left: 11rem;
}
.right-side .main-body .order-summary .sale-summary-holder-item #last {
  margin-right: 8rem;
}
.right-side .main-body .order-summary-items {
  margin-top: 1.2rem;
  display: flex;
  background-color: #fff;
}
.right-side .main-body .order-summary-items-wrapper .title {
  margin-left: 1rem;
}
.right-side .main-body .order-summary-items-wrapper .holder {
  display: flex;
}
.right-side .main-body .order-summary-items-wrapper .holder .img {
  margin-left: 1rem;
  margin-right: 1rem;
}
.right-side .main-body .order-summary-items-wrapper .holder .price-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.right-side .main-body .order-summary-items-wrapper .holder .price-header p:first-child {
  margin-right: 8rem;
  font-size: 14px;
  margin: 0;
}
.right-side .main-body .order-summary-items-wrapper .holder .price-header date {
  color: gray;
  font-size: 11px;
  font-weight: 600;
}
.right-side .main-body .order-summary-items-wrapper .holder .price-tag {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d2d7db;
  margin-bottom: 1rem;
}
.right-side .main-body .order-summary-items-wrapper .holder .price-tag p:first-child {
  margin-right: 14rem;
}
.right-side .main-body .order-summary-items-wrapper .holder .price-tag P:last-child {
  font-size: 11px;
  color: red;
}
.right-side .main-body .order-summary-items-wrapper .holder .price .completed P:last-child {
  font-size: 11px;
  color: green;
}

/*# sourceMappingURL=style.css.map */
